<footer class="section footer">

    <ul class="social-links">

        <li class="link"> <a href=""><i class="fab fa-facebook"></i></a></li>
        <li class="link"> <a href=""><i class="fab fa-twitter"></i></a></li>
        <li class="link"> <a href=""><i class="fab fa-instagram"></i></a></li>
        <li class="link"> <a href=""><i class="fab fa-youtube"></i></a></li>
    </ul>

    <p> Copyright &copy; <span class="date">2022</span>  Spread Smiles.  all rights reserved  </p>

</footer>