<section class="section service-section">

    <div class="section-center service-center">


        <div class="section-heading service-heading">
        <h1 class="section-title service-title">How it works</h1>
        <div class="underline"></div>
         </div>


        <div  class="services">



       

        <!-- service -->
        <article class="service">

            <img src="/images/schedule.svg" alt="schedule">

            <div class="service-info">

                <h3>Schedule Pick-up</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, consectetur praesentium asperiores expedita sunt officiis corrupti. Reprehenderit dignissimos eveniet ullam!</p>
            </div>

        </article>
        <!-- end of service -->

        
        <!-- service -->
        <article class="service">

            <img src="/images/pick-up.svg" alt="schedule">

            <div class="service-info">

                <h3>Schedule Pick-up</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, consectetur praesentium asperiores expedita sunt officiis corrupti. Reprehenderit dignissimos eveniet ullam!</p>
            </div>

        </article>
        <!-- end of service -->

        
        <!-- service -->
        <article class="service">

            <img src="/images/rewards.svg" alt="schedule">

            <div class="service-info">

                <h3>Schedule Pick-up</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, consectetur praesentium asperiores expedita sunt officiis corrupti. Reprehenderit dignissimos eveniet ullam!</p>
            </div>

        </article>
        <!-- end of service -->

    </div>

    </div>

</section>
