<aside class="side-bar">

    <div class="side-bar-header-container">

        <h1 class="side-bar-header"> Menu </h1>

        <button class="side-bar-close-btn"> X </button>
    </div>



    <ul class="sidebar-links">

        <li class="link"> <a href="">Donate</a></li>
        <li class="link"> <a href="">Rewards</a></li>
        <li class="link"> <a href="">Gallery</a></li>
        <li class="link"> <a href="">About Us</a></li>
        <li class="link"> <a href="">font awesome icon</a></li>
       
    </ul>


        <ul class="social-links">

            <li class="link"> <a href=""><i class="fab fa-facebook"></i></a></li>
            <li class="link"> <a href=""><i class="fab fa-twitter"></i></a></li>
            <li class="link"> <a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="link"> <a href=""><i class="fab fa-youtube"></i></a></li>
        </ul>
 
    
</aside>
