<section class="section what-you-donate-section">

    <div class="section-center what-you-can-donate-section-center">

        <div class="section-heading what-you-can-donate-heading">
            <h1 class="section-title service-title">What You Can donate</h1>
            <div class="underline"></div>
             </div>



             <div class="what-you-can-donate-items">

                <img src="/images/hero1.jpg" alt="item1">
                <img src="/images/hero1.jpg" alt="item1">
                <img src="/images/hero1.jpg" alt="item1">
                <img src="/images/hero1.jpg" alt="item1">
             </div>


    </div>
</section>
