
<%- include('./includes/base', {title:'Donate'}) %>

</head>

<body>


<nav class="nav-bar">

    <h1>Spread Smiles</h1>


   <h2>Need Help? <span><i class="fas fa-phone"></i></span></h2>

</nav>

<%-include('./includes/footer') %>

    
</body>
</html>