
.donation-section{
   padding-top: unset;
   height: 80vh;
}

.nav-bar{
    display: flex;
    padding:2rem;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
   margin: 0 auto;
   box-shadow: var(--dark-shadow);
}

.nav-bar h1{
    font-size: 2rem;
}

.nav-bar h2{
    font-size: 1rem;
}

.container{
    width:90vw;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    padding:5rem 0;
}

.step{
    display: none;
}


.step.active{
    display: block;
}

.schedular{
    display: flex;
    width: 70%;
    margin:0 auto;
    gap:4rem;
}


.form-group{
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.form-group label{
    display: inline-block;
    margin-right: 4rem;
}

.form-group input{
    padding: .35rem .75rem;
}

.location-input{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    background-color: purple;
}

.location-input button{
    display: block;
    padding: .35rem .875rem;
    font-size: 1rem;
    flex: 1;
}

.step-title{
    text-align: center;
    margin-bottom: 3rem;
}

.location-input input{
    flex: 4;
}



.proceed-btn{
    margin-top:4rem;
    margin-left: 30rem;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.item-info{
    display: flex;
    align-items: center;
}

.item-info h4{
    padding-left: 2rem;
}

.item-info img{
    height: 5rem;
    width: 150px;
}

.btns{
    width: 70%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.quantity input{
    width: 70px;
    padding:.5rem .75rem;
    font-size: 1.15rem;
    border-radius: var( --borderRadius);
  
}

.quantity label{
    font-size: 1.25rem;
}

